.titre
{
    text-align: center;
    text-decoration: underline;
    font-family: 
}

#bouton{
   
    
}

*
{
    background-color: beige;
}

#pied
{

    text-align: center;
}

#bitc
{
    text-align: center;
}

#onion
{
  text-align: right;
}

.all
{
    font-family: 
}
